<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    
    <h1>Fake Email Server</h1>
    
        {% if user_message %}
        <div id = 'user_message'>
            <span>{{ user_message }}</span>
        </div>
        {% endif %}
    
        {% block content %}
        {% endblock %}
        
        {% if address_name %}
        Access data api at <a href="/data/{{ address_name }}">/data/{{ address_name }}</a>
        {% endif %}
    </body>
</html>