<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <style type="text/css">
            div.part {
                width: 900px; 
                font-family: sans, sans-serif;
            }

            li.part {
                border: 1px solid #c0c0c0;
            }
        </style>
    </head>
    <body>
    
    <h1>Fake Email Server</h1>
    
        {% if user_message %}
        <div id = 'user_message'>
            <span>{{ user_message }}</span>
        </div>
        {% endif %}
    
        {% block content %}
        {% endblock %}
        
        {% if address_name %}
        Access data api at <a href="/data/{{ address_name }}">/data/{{ address_name }}</a>
        {% endif %}
    </body>
</html>
