{% extends 'base.html' %}

{% block title %}
{{ address_name }} - Fake Email Server
{% endblock %}

{% block content %}


    {% if email_list %}
    
        <div id="nav">
        {% for message in email_list %}
            <a href='#{{ loop.index }}'>{{ loop.index }}</a>
        {% endfor %}
        </div>
    
        <ol>
            {% for message in email_list %}
                <li><a name='{{ loop.index }}'><pre>{{ message }}</pre></li>
            {% endfor %}
        </ol>
    {% else %}
        <pre>No emails recorded for this address</pre>
    {% endif %}

{% endblock %}